/* form.css */
.survey-body {
  padding: 2rem;
}

.survey-container {
  height: calc(100vh - 4rem);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-form {
  width: 60%;
  background-color: #ffffff;
  border: 2px solid #52489c;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.arrow-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #52489c;
}

.back-link:hover {
  text-decoration: underline;
}

.survey-header {
  text-align: center;
  background-color: #52489c;
  padding: 3rem 0;
  color: whitesmoke;
}

.survey-header h1 {
  font-size: 2rem;
}

.survey-header p {
  font-size: 1.1rem;
  margin-top: 1rem;
  text-align: left;
  padding: 0 1rem;
}
.survey-header p br{
  margin-top: 1rem;
}

.progress-tracker {
 padding: 2rem ;
}

.progress-tracker p {
  font-weight: 500;
  margin-bottom: 0.4rem;;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background-color: #91c499;
  transition: width 0.3s ease;
}

.survey-questions{
  padding: 2rem;
}

/* .form-group {
  border: 1px solid red;
} */

.form-group label {
  font-weight: 600;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 1rem; 
}
.form-group-span{
   color: #a6a6a6;
   display: inline-block;
   font-size: 15px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
  transform: scale(1.4); /* Increases size */
  margin-right: 10px;
  cursor: pointer;
  accent-color: #91c499; 
  border: none;
  margin-bottom: 0.5rem;
}
.scale-labels{
  font-size: 12px;
  color: #91c499; 
}
.radio-text {
  color: #4b4a4a;
  font-size: 1.1rem;
}


.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 0.4rem;
  resize: vertical;
}

.form-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.form-footer button {
    padding: 0.7rem 0;
    width: 200px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background-color: #52489c;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
    border: 0;
}

.form-footer button:hover {
    background-color: #91c499;
    color: #52489c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-card {
  background-color: #fff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.modal-card h2 {
  margin-bottom: 1rem;
  color: #2e7d32;
}

.modal-btn {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 0.6rem 1.4rem;
  background-color: #2e7d32;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.error-message {
  margin: 1rem auto;
  background-color: #ffe5e5;
  color: #d8000c;
  padding: 1rem;
  width: 80%;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}


/* REQUIRED */
.required-note{
  margin-top: 12px;
  color: #91c499;
  font-size: 12px;
  transition: color 0.3s ease;
}
.required-note.error {
  color: #dc3545; /* Red color for error state */
}

@media (max-width: 500px) {
  .survey-container {
    padding: 1rem;
  }

  .form-footer {
    flex-direction: column;
    gap: 1rem;
  }
}