.button {
    padding: 6px 24px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background-color: #52489c;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 400;
    margin-top:1rem ;
}

.button:hover {
    background-color: #91c499;
    color: #52489c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* QUERIES */
@media screen and (width: 768px) {
.button {
    font-size: 0.9rem;
     padding: 5px 20px;
}

}