.product {
  padding: 0 5rem 0 3.5rem;
}

.product-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.product-top-image {
  flex: 1.7;
}

.product-top-image img {
  width: 21rem;
}

.product-top-image h3 {
  font-size: 1.5rem;
}

.product-top-image p {
  color: #a6a6a6;
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

.product-top-card {
  flex: 0.9;
}

.product-bottom {
  display: flex;
}

.product-links {
  display: flex;
  gap: 1rem;
}

/* QUERIES */
@media (width: 768px) {
  .product {
    padding: 0 2.5rem 0 1.5rem;
  }

  .product-top-image {
    /* padding-left: 0rem; */
    flex: 1;
  }

  .product-top-image img {
    width: 16rem;
  }

  .product-top-image h3 {
    font-size: 1.15rem;
  }

  .product-top-image p {
    font-size: 1rem;
  }

  .product-top-card {
    padding-right: 1.1rem;
  }
}

@media (max-width: 425px) {
  .product {
    padding: 0 1rem;
  }

  .product-top {
    flex-direction: column;
    gap: 0.5rem;
  }

  .product-top-image {
    padding-top: 1rem;
  }

  .product-top-image img {
    width: 13rem;
  }

  .product-top-image h3 {
    font-size: 1.05rem;
  }

  .product-bottom {
    margin-top: 2rem;
  }

  .product-top-image p {
    font-size: 1rem;
  }

  .product-links {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

}