/* Btn Component */
.btn__component,
.btn__component-list {
    padding: 6px 12px;
    text-decoration: none;
    font-size: 10px;
    color: white;
    background-color: #52489c;
    border-radius: 2px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn__component-list:hover,
.btn__component:hover {
    background-color: #91c499;
    color: #52489c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nav__container{
    list-style-type: none;
    border-bottom: 0.5px solid #a6a6a6;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 100%;
}
.nav-list .active {
    color: #52489c !important;
    border-bottom: 2px solid #52489c;
    font-weight: 700;
}

.nav-list a {
    text-decoration: none;
       color: #a6a6a6;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

.nav-list a:hover {
    color: #52489c;
    /* border-bottom: 1px solid #a6a6a6; */
    cursor: pointer;
}



/*---------------- */


@media screen and (max-width: 767px) {
    /* Small Screen */
    .btn__component{
        margin-right: 5px;
    }
.nav__container {
    padding: 5px 0;
    border: 2px solid yellow;
}

.nav__container--logo {
    padding-right: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.nav__container--logo img {
    width: 20%;
}

.nav__container--btn {
    display: none;
}

.nav-list {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 70%;
}



}


@media screen and (min-width: 768px) {
    /* Large Screen */
    .nav__container {
        border: 2px solid green;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    .btn__component {
        display: none;
    }

    .nav__container--logo {
        flex: 1;
    }

    .nav__container--logo img {
        width: 45%;
    }

    .nav__container--list {
        flex: 2.5;
    }
    .nav-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;
    }

    .nav__container--btn {
        display: block;
        flex: 0.6;
    }


}