.hero {
  background: linear-gradient(50deg,
      rgba(165, 216, 255, 1) 70%,
      rgba(176, 176, 176, 1) 100%);
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  margin-top: 4.9rem;
}

.hero__content {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.hero__content-header {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content-header h1 {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 600;
  width: 100%;
}

.hero__content-header h1 span {
  color: #52489c;
}




                      /* QUERIES */


/* -----------------------
    SMALL MOBILE STYLES
    -------------------------
*/
 @media screen and (max-width: 500px) {
  .hero {
    margin-top: 6.55rem;
    padding: 2rem 1rem;

  }

  .hero__content-header h1 {
    font-size: 1.6rem;
  }

  .hero__content-video {
    display: none;
  } 
} 

/* ----- TABLET SYLES--------
---------------------------
 */

@media screen and (min-width:501px) and (max-width: 767px){
  .hero{
    padding: 0.5rem;
     margin-top: 6.2rem;
  }
.hero__content {
  gap: 0.5rem;
}

.hero__content-header {
  flex: 1;
  display: flex;
}
.hero__content-video{
  flex:2
}
.hero__content-header h1 {
  font-size: 1rem;
  width: 100%;
}
}

/* -----------------------
    LARGE STYLES
    -------------------------
*/
/* @media screen and (min-width: 768px) {
  .hero {
    padding: 1rem;


  }

  .hero__content-video {
    height: 300px;
  }

  .hero__content-video .video {
    top: 60px;
  }
} */

/* -----------------------
    TABLET STYLES
    -------------------------
*/
/* @media screen and (min-width:768px){
 .hero__content-video {
    display: block;
  }
} */

