.hero {
  background: #a5d8ff;
  background: linear-gradient(50deg,
      rgba(165, 216, 255, 1) 70%,
      rgba(176, 176, 176, 1) 100%);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 4.7rem;
}

.hero__content {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.hero__content-header {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content-header h1 {
  font-size: 2.5rem;
  text-align: center;
   font-weight: 600;
  width: 100%;
  /* width: 75%; */
}

.hero__content-header h1 span {
  color: #52489c;
}




/* QUERIES */
/* -----------------------
    LARGE STYLES
    -------------------------
*/
@media screen and (min-width: 768px) {
  .hero {
    padding:2rem;

  }

  .hero__content-video {
    height: 300px;
  }

  .hero__content-video .video {
    top: 60px;
  }
}

/* -----------------------
    MOBILE STYLES
    -------------------------
*/
@media screen and (max-width: 767px){
.hero{
  margin-top: 6.25rem;
    padding: 1rem;
  }
    .hero__content-header h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 425px){

  .hero__content-video{
    display: none;
  }
}