/* .footer {
  background-color: #333;
  height: 250px;
  margin-top: 8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer__top-list li:nth-of-type(1) {
  flex: 4;
}
.footer__top-list li:nth-of-type(2) {
  flex: 0.4;
}

.footer__top-list li div {
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.footer__top-list li div a {
  color: whitesmoke;
  text-decoration: none;
}
.footer__top-list img {
  width: 100%;
}

/* Footer Bottom */

/* .footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__bottom-left {
  color: whitesmoke;
  display: flex;
  font-size: 10px;
  gap: 10px;
}
.footer__bottom-social {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer__bottom-right a,
.footer__bottom-social a {
  text-decoration: none;
  color: whitesmoke;
}
.footer__bottom-social img {
  width: 30px;
  height: 30px;
}
.footer__bottom-right {
  display: flex;
  gap: 1rem;
} */

/* QUERIES */
/* @media (max-width: 425px) { */
/* .footer { */
/* margin-top: 4rem; */
/* padding: 1rem;
  } */
/* .footer__bottom {
    flex-direction: column;
    align-self: start;
    gap: 1rem;
  }
  .footer__top-list li div {
    width: 100%;
  }
  .footer__top-list img {
    display: none;
  }
  .footer__top-list{
    border: 1px solid white;
     gap: 0.2rem;
  }
 
} */


@media screen and (max-width:767px) {
  .footer {
    background-color: #333;
    padding: 1rem 1rem 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* FOOTER top */
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer__top li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    flex: 1;
    /* flex: 2; */
  }

  .footer__top li a {
    text-decoration: none;
    color: whitesmoke;
  }

  .footer__logo {
    flex: 1;
    display: none !important;
    border: 1px solid white;
  }

  /* FOOTER bottom */
  .footer__bottom {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  
  /* FOOTER bottom  social*/
  .footer__bottom-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .footer__bottom-social a{
    color: whitesmoke;
  }
  .footer__bottom-social img{
    width: 50%;
  }

  /* FOOTER bottom policy */
  .footer__bottom-policy{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    color: whitesmoke;
    gap: 10px;
  }
  .footer__bottom-policy a{
    color: whitesmoke;
    text-decoration: none;
  }
}