  .footer {
    background-color: #333;
    padding: 1rem 1rem 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* FOOTER top */
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .footer__top ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    list-style-type: none;
    flex: 1;
  }

  .footer__top li a {
    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
  }

  /* FOOTER bottom */
  .footer__bottom {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .footer__bottom-social img {
    width: 100%;
  }

  .footer__bottom-social a {
    color: whitesmoke;
  }

  /* FOOTER bottom policy*/
  .footer__bottom-policy {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: whitesmoke;
    gap: 10px;
    list-style-type: none;
  }

  .footer__bottom-policy a {
    color: whitesmoke;
    text-decoration: none;
  }


  @media screen and (max-width:767px) {

    /* FOOTER top */
    .footer__top img {
      display: none;
    }

    /* FOOTER bottom */
    .footer__bottom {
      list-style-type: none;
      display: flex;
      gap: 1rem;
    }

    /* FOOTER bottom  social*/
    .footer__bottom-social {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .footer__bottom-social a {
      color: whitesmoke;
    }

    .footer__bottom-social img {
      width: 50%;
    }

    /* FOOTER bottom policy */
    .footer__bottom-policy {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      color: whitesmoke;
      gap: 10px;
      list-style-type: none;
    }

    .footer__bottom-policy a {
      color: whitesmoke;
      text-decoration: none;
    }
  }