.links {
  gap: 1rem;
  display: flex;
  border: 1px solid red;
}

.links p {
  font-size: 1.2rem;
}

.link2,
.link1 {
  flex: 1;
  padding: 1rem;
  background-color: #dbdada;
  border-radius: 4px;
}

.link2,
.link1 {
  display: flex;
  gap: 12px;
  align-items: start;
}

/* QUERIES */
@media screen and (width: 768px) {
  .links {
    flex-direction: column;
  }

  .link2,
  .link1 {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
  }

  .links a {
    padding: 0.2rem 0.5rem;
  }
}

@media screen and (max-width: 425px) {
  .links {
    padding-left: 0rem;
    flex-direction: column;
  }

  .link2,
  .link1 {
    align-items: center;
  }

  .link2 p,
  .link1 p {
    font-size: 0.5rem;
    align-items: center;
  }
}