.links {
  gap: 1rem;
  display: flex;
  margin-top: 1rem;
}

.links p {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.link2,
.link1 {
  flex: 1;
  padding: 1rem;
  background-color: #dbdada;
  border-radius: 4px;
}

/* ---HOME CONTENT--- */
.home__content-link{
flex-direction: column;
}

/* QUERIES */
@media screen and (width: 768px) {
  .links {
    flex-direction: column;
  }

  .links p {
  font-size: 1rem;
}

}

@media screen and (max-width: 425px) {
  .links {
    padding-left: 0rem;
    flex-direction: column;
  }

  .link2,
  .link1 {
    align-items: center;
  }

  .link2 p,
  .link1 p {
    font-size: 1rem;
    align-items: center;
  }
}